<?xml version="1.0" encoding="UTF-8" standalone="yes"  ?>
<sounderConfig defaultSampleRate="5000" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schema1.xsd">
	<switchStateProvider>
		<netPollerOld profiluxAddress="http://192.168.0.200" />
	</switchStateProvider>
	<switch samplingRateHigh="500" switchNumber="1" order="2">
		<onStateChange stateChanged="TO_HIGH">
			<setVolumeSwitch fadeDuration="40000" switchNumber="3" volume="0.6" />
		</onStateChange>
		<onStateChange stateChanged="TO_LOW">
			<setVolumeSwitch fadeDuration="40000" switchNumber="3" volume="0.1" />
		</onStateChange>
	</switch>
	<switch switchNumber="2" order="3">
		<onStateDuration stateWas="HIGH" durationToMS="3000" oneOfAction="true">
			<playSound soundFile="sounds/Thunder_04.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_04_01.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_05.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_06.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_06_01.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_07.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_07_01.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_07_02.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_08.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_08_01.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_09.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_09_01.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_09_02.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_10.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_11.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_11_01.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_12.wav" />
		</onStateDuration>
		<onStateDuration stateWas="HIGH" durationFromMS="3000" oneOfAction="true">
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_13.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_13_01.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_13_02.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_15.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_15_01.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_16.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_19.wav" />
			<playSound fadeInDuration="0" loopCount="0" volume="1" soundFile="sounds/Thunder_25.wav" />
		</onStateDuration>
	</switch>
	<switch switchNumber="3" order="1">
		<onStateChange stateChanged="TO_HIGH" skipActionIfActive="false">
			<playSound fadeInDuration="60000" loopCount="-1" volume="0.1" soundFile="sounds/Rain.ogg" />
		</onStateChange>
		<onStateChange stateChanged="TO_LOW" skipActionIfActive="false">
			<stopSwitchSounds fadeOutDuration="60000" switchNumber="3" />
		</onStateChange>
	</switch>
</sounderConfig>
